/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #bdbdbd;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* CONTAINER PRINCIPAL */
.container {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
    margin-bottom: 20px;
}

/* BOTÕES DOS DIAS */
.dias button {
    width: 100%;
    margin: 6px 0;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #4a90e2;
    color: white;
    transition: transform 0.2s; background: 0.2s;
}

.dias button:hover {
    background: #357abd;
    transform: scale(1.03);
}

html, body {
    overscroll-behavior: none;
    touch-action: pan-x pan-y; /* sem zoom */
}

/* MODAL */
.modal {
    display: none;
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
    z-index: 10;

    touch-action: auto; /* libera gestos DENTRO do modal */
}

/* ÁREA DE ZOOM */
.zoom-area {
    max-width: 90%;
    max-height: 90%;
    overflow: hidden;
}

.zoom-area img {
    max-width: 100%;
    max-height: 100%;
}
/* BOTÃO FECHAR */
.fechar {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

/* RESPONSIVO CELULAR */
@media (max-width: 480px) {
    .zoom-area img {
        max-height: 85vh;
        max-width: 95%;
    }
    .modal {
        padding: 10px;
    }
}