body {
    margin: 0;
    height: 100vh;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

button {
    display: block;
    margin: 8px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#imagemDia {
    margin-top: 20px;
    max-width: 300px;
    display: none;
}

.zoom-area {
    max-width: 90%;
    max-height: 90%;
    overflow: hidden;
}

.zoom-area img {
    max-width: 100%;
    max-height: 100%;
    touch-action: none;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background: #bdbdbd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

/* CONTAINER PRINCIPAL */
.container {
    background: #ffffff;
    padding: 25px;
    border-radius: 12px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
    margin-bottom: 20px;
}

/* BOTÕES */
.dias button {
    width: 100%;
    margin: 6px 0px;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #4a90e2;
    color: white;
    transition: transform 0.2s,
}

.dias button:hover {
    background: #357abd;
    transform: scale(1.03);
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    inset: 0; /* top:0; bottom:0; left:0; right:0 */
    background: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
    z-index: 10;
    overflow-y: auto; /* permite scroll se a imagem for maior que a tela */
    padding: 10px; /* espaço das bordas da tela */
}

/* ÁREA DE ZOOM */
.zoom-area {
    max-width: 100%;   /* ocupa toda largura da tela */
    max-height: 100%;  /* ocupa no máximo a altura da tela */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zoom-area img {
    max-width: 100%;
    max-height: 100vh; /* altura máxima da tela */
    object-fit: contain; /* mantém proporção sem cortar */
    touch-action: none;  /* libera gestos de zoom */
}

/* BOTÃO FECHAR */
.fechar {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}